extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each dish in dishes
          .col-xs-12.list-group-item
            h4
              a(href="/dish")= dish.name
              span.glyphicon.glyphicon-heart.red #[small= " " + dish.likes]
              span.badge.pull-right.badge-default= dish.distance
            p.address= dish.zip + " in " + dish.address
            p
              each category in dish.categories
                span.label.label-warning= category
                |  &nbsp;
    .col-xs-12.col-sm-4
      p.lead= sidebar
