extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          each category in dish.categories
            span.label.label-warning
              span.glyphicon.glyphicon-fire
              |  &nbsp;#{category}
            |  &nbsp;
          p.likes
            span.glyphicon.glyphicon-heart.red  #[span#likesCount -number of likes-]
          p -Only Zip, City, and State-
          .panel.panel-primary
            .panel-heading
              h2.panel-title Dish Images
            .panel-body
              each image in dish.images
                img(src="")
          .panel.panel-primary
            .panel-heading
              h2.panel-title Ingredients
            .panel-body
              each ingredient in dish.ingredients
                p
                |  #{ingredient}
                |  &nbsp;
          .panel.panel-primary
            .panel-heading
              h2.panel-title Instructions
            .panel-body
              each instruction in dish.instructions
                p
                |  #{instruction}
                |  &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Where It Was Cooked
            .panel-body
              img.img-responsive.image-rounded(src="https://maps.googleapis.com/maps/api/staticmap?center=#{dish.coords.lat},#{dish.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{dish.coords.lat},#{dish.coords.lng}&scale=2")
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.button.btn.btn-default.pull-right(href='/dish/comment/new') Add Comment
              h2.panel-title User Comments
            .panel-body.comment-container
              each comment in dish.comments
                .row
                  .comment
                    .well.well-sm.comment-header
                      span.commentAuthor= comment.author
                      small.commentTimestamp.pull-right= comment.timestamp
                  .col-xs-12
                    p !{(comment.commentText).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-3
      p.lead #{dish.cook} cooked #{dish.name} on #{dish.dateCreated}.
      p Want to see more dishes by #{dish.cook}? Check out their #[a(href='/user/cookbook') cookbook]!
      p Want to share what you think about #{dish.cook}'s dish? Add a comment of your own!
